.input {
    padding: 10px;
}

.button {
    --c:  #229091; /* the color*/

    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
            var(--_g) calc(var(--_p,0%) - 100%) 0%,
            var(--_g) calc(200% - var(--_p,0%)) 0%,
            var(--_g) calc(var(--_p,0%) - 100%) 100%,
            var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
}
.button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}
.button:active {
    box-shadow: 0 0 9e9q inset #0009;
    background-color: var(--c);
    color: #fff;
}



body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-content: center;
    grid-auto-flow: column;
    gap: 40px;
    background: #F2DCA2;
}
.button {
    font-family: system-ui, sans-serif;
    font-size: 3.5rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;
    border: none;
    font-variant: unicase;
}

.head_font {
    color:#c00;
    font-family:sans-serif;
    font-size:2em;
    margin-bottom:0;
}

table {
    font-family:sans-serif;
    th, td {
        padding:.25em .5em;
        text-align:left;
        &:nth-child(2) {
            text-align:right;
        }
    }
    td {
        background-color:#eee;
    }
    th {
        background-color:#009;
        color:#fff;
    }
}

.zigzag {
    border-collapse:separate;
    border-spacing:.25em 1em;
    tbody tr:nth-child(odd) {
        transform: rotate(0.5deg);
    }
    thead tr,
    tbody tr:nth-child(even) {
        transform:rotate(-0.5deg);
    }
}

h2 {
    font-size: 30px;
    font-family: math;
    color: brown;
}

.main_div {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

/*.table-scroll {*/
/*    width: 80%;*/
/*    height: 300px;*/
/*    overflow: auto;*/
/*}*/

.scroll-container {
    height: 300px;
    overflow-y: scroll;
}

.scroll-container::-webkit-scrollbar {
    width: 12px;
}

.scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #888;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.scroll-container::-webkit-scrollbar-button {
    display: none;
}